[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pyinstaller = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
humanize = "*"
python-dateutil = "*"
twine = "*"
wheel = "*"
dock-craftsman = "*"

[dev-packages]

[requires]
python_version = "3.9"
